<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
    <title>To Do List</title>
</head>
<body>
  <div class="container">
    <h1>Shoe City</h1>

    <h3><a href="/brands">Brands</a></h3>
    <h3><a href="/stores">Stores</a></h3>

  
  </div>
</body>
</html>
